{{#if askNewQuestion}}
  <h4>New Question</h4>
  <form>
    <div class="form-group">
      {{textarea value=question class="form-control" placeholder="Question?"}}
    </div>
    <div class="form-group">
      {{input value=notes class="form-control" placeholder="Additional notes"}}
    </div>
    <div class="form-group">
      {{input value=author class="form-control" placeholder="Your name"}}
    </div>
    <button class="btn btn-sm btn-default" {{action 'saveQuestion'}}>Ask!</button>
    <button class="btn btn-sm btn-default" {{action 'noQuestion'}}>Cancel</button>
  </form>
{{else}}
  <button class="btn btn-sm btn-default" {{action 'newQuestion'}}>New Question</button>
{{/if}}
