<h2>Question:</h2>
<div class="row">
  <div class="col-md-8">
    <h4>{{model.question}}</h4>
    <p><small>Notes:</small> {{model.notes}}</p>
    <p><small>Asked by</small> {{model.author}} <button class="btn btn-xs btn-link" {{action 'deleteQuestion' model}}><small>Delete Question</small></button></p>
  </div>
  <div class="col-md-4">
    {{edit-question updateQuestion='updateQuestion' question=model}}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    {{#if model.answers}}
      <h4>Answers:</h4>
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer question=model deleteAnswer='deleteAnswer'}}
      {{/each}}
    {{else}}
      <h4>This question has not been answered yet</h4>
    {{/if}}
  </div>
  <div class="col-md-4">
    {{answer-question saveAnswer='saveAnswer' question=model}}
  </div>
</div>
